/*td creates a grid*/

td {
  border: 2px solid black;
  width: 200px;
  height: 200px;
  background-color: dodgerblue;
}

/* need the body to align in the center of the page with flexbox. Right now being held at center page by heigh and width. */

body {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

/*every other square is black*/

table:nth-of-type(2n) {
  background-color: black;
}
