header {
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  font-size: x-large;
  position: sticky;
  margin-top: 20px;
  top: 20px;
}
body {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*td creates a grid*/

td {
  border: 2px solid black;
  width: 200px;
  height: 200px;
  background-color: dodgerblue;
}

/*every other square is black*/

table:nth-of-type(2n) {
  background-color: black;
}
