header {
  background-color: white;
  align-self: flex-start;
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
body {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

/*td creates a grid*/

td {
  border: 2px solid black;
  width: 200px;
  height: 200px;
  background-color: dodgerblue;
}

/*every other square is black*/

table:nth-of-type(2n) {
  background-color: black;
}
